<div class="flex flex-col-reverse md:flex-row px-5 mx-auto p-6">
  <div class="w-full md:pl-7">
    @if (loading()) {
    <div class="animate-pulse">
      <div class="h-10 bg-gray-200 rounded w-3/4 mb-4"></div>
    </div>
    } @else {
    <h2 class="text-4xl md:text-6xl font-bold mb-6 capitalize">
      {{ post().title }}
    </h2>
    }
    <div class="flex items-center gap-3 mb-4">
      @if (userId() !== null) {
      <img
        [src]="avatarUrl()"
        (error)="onImageError($event)"
        class="w-12 h-12 rounded-full border cursor-pointer"
        alt="author avatar"
        [routerLink]="['/users', userId()]"
      />
      }

      <div>
        <p class="text-sm text-gray-400">Post by</p>
        @if (userName()) {
        <p class="font-semibold">{{ userName() }}</p>
        } @else {
        <p class="text-gray-500">Unknown author</p>
        }
      </div>
    </div>

    <div
      class="flex items-center justify-between text-gray-600 border-y border-y-gray-200 my-8 py-3"
    >
      <div class="left flex items-center gap-1">
        <i class="fa-regular fa-comments"></i>
        @if (loading()) {
        <span class="h-4 w-6 bg-gray-200 rounded animate-pulse"></span>
        } @else {
        {{ comments().length }}
        }
      </div>
      <div class="right flex items-center gap-2">
        <i
          class="fa-regular fa-bookmark cursor-pointer hover:text-secondary transition-all duration-300 active:scale-125"
          [ngClass]="saved() ? 'fa-solid' : 'fa-regular'"
          (click)="toggleBookmark()"
        ></i>
        <i
          class="fa-regular fa-share-from-square cursor-pointer hover:text-secondary transition-colors"
          (click)="sharePost()"
        ></i>
        <i
          class="fa-solid fa-user-plus cursor-pointer hover:text-secondary transition-colors"
        ></i>
      </div>
    </div>

    @if (loading()) {
    <div class="animate-pulse space-y-3">
      <div class="h-4 bg-gray-200 rounded w-full"></div>
      <div class="h-4 bg-gray-200 rounded w-5/6"></div>
    </div>
    } @else {
    <p class="text-xl text-gray-700">{{ post().body }}</p>
    }

    <h3 class="my-8 text-xl font-semibold">Comments</h3>
    <div class="comments-section mt-4 mb-15">
      @if (loading()) {
      <div class="space-y-4 animate-pulse">
        <div class="h-6 bg-gray-200 rounded w-full"></div>
        <div class="h-6 bg-gray-200 rounded w-5/6"></div>
        <div class="h-6 bg-gray-200 rounded w-4/6"></div>
      </div>
      } @else { @for (comment of comments(); track comment.id) {
      <app-comment-item [commentItem]="comment"></app-comment-item>
      } }
    </div>
  </div>
</div>
