<nav
  class="fixed w-full z-20 py-5 top-0"
  [ngClass]="scrolled ? 'bg-[#faf9fd] shadow-md' : 'bg-transparent'"
>
  <div
    class="container flex w-full items-center justify-between grow mx-auto px-5"
  >
    <a routerLink="/">
      <h1 class="text-lg font-semibold">Abdullatif Jarkas</h1>
    </a>
    <ul class="hidden md:flex justify-center gap-4" [ngClass]="{ 'flex! flex-col fixed backdrop-blur-2xl inset-0 justify-center items-center gap-10': isOpen() }">
      @for (link of links; track link.id) {
      <li
        class="font-normal text-lg text-black lg:text-xl leading-6 relative top-0 hover:top-1 transition-all"
        [ngClass]="{ 'text-2xl! font-semibold!': isOpen() }"
      >
        <a [routerLink]="link.route">{{ link.label }}</a>
      </li>
      }
      <div class="md:hidden close-icon text-4xl hover:rotate-180 transition-all duration-500" (click)="handleClose()">
        <i class="bi bi-x cursor-pointer"></i>
      </div>
    </ul>
    <div class="burger-icon text-3xl md:hidden cursor-pointer" (click)="handleClick()">
      <i class="bi bi-list"></i>
    </div>
  </div>
</nav>
