<nav
  class="flex justify-center items-center font-layout bg-white w-full z-20 h-[60px] top-0 border-b border-b-gray-200"
>
  <div class="flex w-full items-center justify-between grow mx-auto px-5">
    <div class="flex items-center gap-4">
      <div
        class="burger-icon text-3xl lg:hidden cursor-pointer"
        (click)="handleClick()"
      >
        <i class="bi bi-list"></i>
      </div>
      <a routerLink="/">
        <img src="shared-logo.png" class="w-24 sm:w-32" alt="logo" />
      </a>
    </div>

    <div class="auth-buttons flex items-center gap-1 sm:gap-4">
      <button (click)="toggleLang()" class="cursor-pointer">
        <img
          [src]="currentFlag"
          alt="language flag"
          class="w-6 h-6 sm:w-8 sm:h-8 rounded-full border border-gray-300"
        />
      </button>
      @if (!auth.isLoggedIn()) {
      <a
        routerLink="/auth/login"
        class="rounded-sm px-3 py-1 bg-primary hover:bg-secondary transition text-white cursor-pointer"
      >
        Login
      </a>
      <a
        routerLink="/auth/signup"
        class="px-3 py-1 text-primary hover:bg-secondary hover:text-white rounded-sm transition cursor-pointer"
      >
        Sign Up
      </a>
      } @else {
      <a
        routerLink="/write"
        class="relative px-3 py-1 text-primary rounded-sm transition-all cursor-pointer inline-flex items-center group"
      >
        <img
          width="24"
          height="24"
          src="https://img.icons8.com/material-outlined/24/quill-pen.png"
          alt="quill-pen"
          class="absolute left-0 group-hover:opacity-0 transition-all duration-200"
        />

        <img
          width="24"
          height="24"
          src="https://img.icons8.com/material/50/quill-pen.png"
          alt="quill-pen"
          class="absolute left-0 opacity-0 group-hover:opacity-100 transition-all duration-200"
        />
      </a>

      <a routerLink="/profile">
        <img
          [src]="userAvatar"
          (error)="onImgError($event)"
          class="w-10 h-10 rounded-full border border-primary cursor-pointer"
          alt="avatar"
        />
      </a>

      <button
        (click)="logout()"
        class="rounded-sm py-1 hover:text-white transition cursor-pointer"
      >
        <i class="fa-solid fa-arrow-right-from-bracket text-primary"></i>
      </button>
      }
    </div>
  </div>
</nav>
