<img src="shared-logo.png" class="max-w-60 mx-auto mb-4 lg:hidden" alt="logo" />
<h2 class="text-2xl font-bold mb-2 font-layout">Welcome Back</h2>
<p class="text-gray-500 mb-6">Sign in to your account</p>

<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
  <div class="mb-4">
    <label class="block text-sm mb-1">Email</label>
    <div
      class="flex items-center rounded px-3 border"
      [ngClass]="
        emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)
          ? 'border-red-500'
          : 'border-gray-300'
      "
    >
      <i class="fa-regular fa-envelope text-gray-400"></i>
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        email
        placeholder="shared@gmail.com"
        #emailCtrl="ngModel"
        class="w-full p-2 outline-none placeholder:text-gray-400 font-thin"
      />
    </div>
    @if (emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)) {
    <p class="text-red-500 text-sm mt-1">
      @if (emailCtrl.errors?.['required']) {
      <span>Email is required.</span>
      } @if (emailCtrl.errors?.['email']) {
      <span>Invalid email format.</span>
      }
    </p>
    }
  </div>

  <div class="mb-4">
    <label class="block text-sm mb-1">Password</label>
    <div
      class="flex items-center rounded px-3 border"
      [ngClass]="
        passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)
          ? 'border-red-500'
          : 'border-gray-300'
      "
    >
      <i class="fa-solid fa-lock text-gray-400"></i>
      <input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        minlength="8"
        placeholder="Enter your password"
        #passwordCtrl="ngModel"
        class="w-full p-2 outline-none placeholder:text-gray-400 font-thin"
      />
      <i class="fa-regular fa-eye text-gray-400 cursor-pointer"></i>
    </div>
    @if (passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched)) {
    <p class="text-red-500 text-sm mt-1">
      @if (passwordCtrl.errors?.['required']) {
      <span>Password is required.</span>
      } @if (passwordCtrl.errors?.['minlength']) {
      <span>Password must be at least 6 characters.</span>
      }
    </p>
    }
  </div>

  <div class="flex items-center justify-between mb-6 text-sm">
    <label class="flex items-center gap-2 cursor-pointer">
      <input type="checkbox" class="accent-primary" />
      Remember me
    </label>
  </div>

  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="w-full bg-primary text-white py-2 rounded hover:bg-secondary transition disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Sign in
  </button>
</form>

<p class="mt-6 text-center text-sm text-gray-500">
  Don’t have an account?
  <a
    routerLink="/auth/signup"
    class="text-primary font-medium hover:underline cursor-pointer"
    >Sign up</a
  >
</p>
